In [12]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('adult.csv')

## ***1.Display Top 10 Rows of The Dataset***

In [4]:
top_10_rows = df.head(10)
print(top_10_rows)

   age         workclass  fnlwgt     education  educational-num  \
0   25           Private  226802          11th                7
1   38           Private   89814       HS-grad                9
2   28         Local-gov  336951    Assoc-acdm               12
3   44           Private  160323  Some-college               10
4   18                 ?  103497  Some-college               10
5   34           Private  198693          10th                6
6   29                 ?  227026       HS-grad                9
7   63  Self-emp-not-inc  104626   Prof-school               15
8   24           Private  369667  Some-college               10
9   55           Private  104996       7th-8th                4

       marital-status         occupation   relationship   race  gender  \
0       Never-married  Machine-op-inspct      Own-child  Black    Male
1  Married-civ-spouse    Farming-fishing        Husband  White    Male
2  Married-civ-spouse    Protective-serv        Husband  White    Male
3  Married-civ-spouse  Machine-op-inspct        Husband  Black    Male
4       Never-married                  ?      Own-child  White  Female
5       Never-married      Other-service  Not-in-family  White    Male
6       Never-married                  ?      Unmarried  Black    Male
7  Married-civ-spouse     Prof-specialty        Husband  White    Male
8       Never-married      Other-service      Unmarried  White  Female
9  Married-civ-spouse       Craft-repair        Husband  White    Male

   capital-gain  capital-loss  hours-per-week native-country income
0             0             0              40  United-States  <=50K
1             0             0              50  United-States  <=50K
2             0             0              40  United-States   >50K
3          7688             0              40  United-States   >50K
4             0             0              30  United-States  <=50K
5             0             0              30  United-States  <=50K
6             0             0              40  United-States  <=50K
7          3103             0              32  United-States   >50K
8             0             0              40  United-States  <=50K
9             0             0              10  United-States  <=50K

## ***2. Check Last 10 Rows of The Dataset***

In [5]:
last_10_rows = df.tail(10)
print(last_10_rows)

       age     workclass  fnlwgt     education  educational-num  \
48832   32       Private   34066          10th                6
48833   43       Private   84661     Assoc-voc               11
48834   32       Private  116138       Masters               14
48835   53       Private  321865       Masters               14
48836   22       Private  310152  Some-college               10
48837   27       Private  257302    Assoc-acdm               12
48838   40       Private  154374       HS-grad                9
48839   58       Private  151910       HS-grad                9
48840   22       Private  201490       HS-grad                9
48841   52  Self-emp-inc  287927       HS-grad                9

           marital-status         occupation   relationship  \
48832  Married-civ-spouse  Handlers-cleaners        Husband
48833  Married-civ-spouse              Sales        Husband
48834       Never-married       Tech-support  Not-in-family
48835  Married-civ-spouse    Exec-managerial        Husband
48836       Never-married    Protective-serv  Not-in-family
48837  Married-civ-spouse       Tech-support           Wife
48838  Married-civ-spouse  Machine-op-inspct        Husband
48839             Widowed       Adm-clerical      Unmarried
48840       Never-married       Adm-clerical      Own-child
48841  Married-civ-spouse    Exec-managerial           Wife

                     race  gender  capital-gain  capital-loss  hours-per-week  \
48832  Amer-Indian-Eskimo    Male             0             0              40
48833               White    Male             0             0              45
48834  Asian-Pac-Islander    Male             0             0              11
48835               White    Male             0             0              40
48836               White    Male             0             0              40
48837               White  Female             0             0              38
48838               White    Male             0             0              40
48839               White  Female             0             0              40
48840               White    Male             0             0              20
48841               White  Female         15024             0              40

      native-country income
48832  United-States  <=50K
48833  United-States  <=50K
48834         Taiwan  <=50K
48835  United-States   >50K
48836  United-States  <=50K
48837  United-States  <=50K
48838  United-States   >50K
48839  United-States  <=50K
48840  United-States  <=50K
48841  United-States   >50K

## ***3. Find Shape of Our Dataset (Number of Rows And Number of Columns)***

In [6]:
df_shape = df.shape
print(df_shape)

(48842, 15)

## ***4. Getting Information About Our Dataset Like Total Number Rows, Total Number of Columns, Datatypes of Each Column And Memory Requirement***

In [9]:
df_info = df.info()
print(df_info)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB
None

## ***5.Check Null Values And Also Create A Heatmap In The Dataset***

In [11]:
check_null_values = df.isnull().sum()
print(check_null_values)

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

## ***6. Fetch Random Sample From the Dataset (50%)***

## ***7. Perform Data Cleaning [Replace'?' with NaN]***

## ***8. Drop All The Missing Values***

## ***9. Check Duplicate Data and Drop Them***

## ***10. Get Overall Statistics About The Dataframe***

## ***11. Drop The Columns education-num, capital-gain and capital-loss***

## ***12. What Is The Distribution of Age Column Show In Graph?***

## ***13. Find Total Number of Persons Having Age Between 17 To 48 (Inclusive) Using Between Method And Also Without Using Between Method***

## ***14. What is The Distribution of Workclass Column***

## ***15. How Many Person Having Bachelors or Masters Degree***

## ***16. Create A Boxplot Of The "Income" Column Against The "Age" Column, Segmented By Gender***

## ***17. Replace income value [<=50k with 0 and >50k with 1]***

## ***18. Which Workclass getting The Highest Salary***

## ***19. Who Has Better Chance To Get Salary >50k Male or Female***

## ***20. Convert Workclass Column DataType To Category Datatype***